*.pyc
*~
/.cache
/.eggs
/.idea
/.mypy_cache
/.pytest_cache
/.python-version
/ChangeLog-spell-corrected
/README.html
/build
/dist
/how-to-make-a-release.txt
/pyxasm.egg-info
/tmp
/xasm.egg-info
/xdis.egg-info
